@{
    Layout = "_ShopLayout";

    Customer customer = (Customer)ViewBag.customer;
    List<Order> orders = customer.Orders.ToList();
    //List<OrderDetail> orderDetails =
}



<style>
    .downloadButton {
        width: 100%;
    }

    .order-container {
        border: 1px solid;
        border-radius: 25px;
        padding: 10px;
    }
</style>

@{
    @customer.Id
    <br />
    @foreach (Order o in orders)
    {

<div class="order-container">

    @{List<OrderDetail> orderDetails = o.OrderDetails.ToList();
        @foreach (OrderDetail od in orderDetails)
        {
            string orderDate = o.OrderDate.ToString("dd MMM yyyy");
            List<ActivationCode> activationCodes = od.ActivationCodes.ToList();
            <div class="row">
                <br />
                <div class="col-md-4" style="text-align:center">
                    <img src="@od.Product.Img" alt="@od.Product.Name">
                    <h4>@od.Product.Name</h4>
                    <p>@od.Product.Desc</p>
                    <a class="btn btn-primary downloadButton" href="@od.Product.DownloadFile" download="@od.Product.DownloadName">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">Purchased On:</div>
                        <div class="col-md-6">@orderDate</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Quantity:</div>
                        <div class="col-md-6">@od.Quantity</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">Activation Code:</div>
                        <div class="col-md-6">
                            @if (activationCodes.Count > 1)
                            {
                                <div class="form-group">
                                    <select class="form-control">
                                        @foreach (ActivationCode ac in activationCodes)
                                        {
                                            <option>@ac.Id</option>
                                        }
                                    </select>
                                </div>
                            }
                            else
                            {
                                @activationCodes[0].Id
                            }

                        </div>
                    </div>

                </div>
            </div>
            <br />
        }
    }
</div>
        <br />
    }
}
