@{
    Layout = "_ShopLayout";

    Customer customer = (Customer)ViewBag.customer;
    List<Order> orders = customer.Orders.ToList();
    //List<OrderDetail> orderDetails =
}



<style>
    .downloadButton {
        width: 100%;
    }
</style>

@{
    @customer.Id
    <br />
    @foreach (Order o in orders)
    {
        List<OrderDetail> orderDetails = o.OrderDetails.ToList();
        @foreach (OrderDetail od in orderDetails)
        {
            string orderDate = o.OrderDate.ToString("dd MMM yyyy");
            List<ActivationCode> activationCodes = od.ActivationCodes.ToList();
            <div class="row">
                <br />
                <div class="col-md-4" style="text-align:center">
                    <img src="@od.Product.Img" alt="@od.Product.Name">
                    <h4>@od.Product.Name</h4>
                    <p>@od.Product.Desc</p>
                    <a class="btn btn-primary downloadButton" href="@od.Product.DownloadFile" download="@od.Product.DownloadName">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
                <div class="col-md-8">
                    @orderDate
                    <br />
                    <br />
                    @od.Quantity
                    <br />
                    <br />
                    @foreach (ActivationCode ac in activationCodes)
                    {
                        @ac.Id
                        <br />
                        <br />
                    }
                </div>
            </div>
            <br />
        }
        <hr />
    }
}
