@using ShoppingCartCA.DataModel;
@using ShoppingCartCA.Models;
@{
    LayoutHeader layoutheader = (LayoutHeader)ViewData["layoutheader"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoppingCartCA</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/shopsite.css" />
        @RenderSection("StyleScript", false);
</head>
<body>
    <header>
        <hr />
        <div class="headerdiv">
            <table class="headertable">
                <tr>
                    @if (layoutheader == null)
                    {
                    <td class="header-col1">
                        Hi, Guest &nbsp &nbsp &nbsp | &nbsp @Html.ActionLink("Login", "Index", "Login") &nbsp | &nbsp
                    </td>
                        <td class="header-col2">
                            @if (layoutheader.CartLink != null)
                            {
                                @Html.ActionLink("Cart: " + "0","Index", "Cart", null,
                                               new { id = "CartSize", value = 0 })
                            }
                        </td>
                    }
                    else
                    {
                        <td class="header-col1">
                            Hi, @layoutheader.User &nbsp &nbsp &nbsp | &nbsp
                            @foreach (HeaderLink header in layoutheader.HeaderLinks)
                            {
                                @:@Html.ActionLink(header.Title, header.Action, header.Controller) &nbsp | &nbsp
                            }
                        </td>
                        <td class="header-col2">
                            @if (layoutheader.CartLink != null)
                            {
                                @Html.ActionLink("Cart: " + layoutheader.CartSize, layoutheader.CartLink.Action, layoutheader.CartLink.Controller, null,
                                               new { id = "CartSize", value = layoutheader.CartSize })
                            }
                        </td>
                    }
                </tr>
            </table>
        </div>
        <hr />
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

</body>


</html>

