@using ShoppingCartCA.Views.Shared;
@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "Cart";
    List<CartDetail> allcartitem = (List<CartDetail>)ViewData["allcartitem"];
    double totalprice = 0;
    foreach (CartDetail cartitem in allcartitem)
    {
        totalprice += cartitem.Product.Price * cartitem.Quantity;
    }

}
@section StyleScript{
    <link rel="stylesheet" href="~/css/cartpage.css" />
    <script type="text/javascript" src="~/js/cartpage.js"></script>
}
<div class="cart-header">
    <table class="cart-table">
        <tr>
            <td class="cart-table-title">
                My Cart
            </td>
            <td class="cart-table-price">
                Price : $<span id="totalcost">@String.Format("{0:0.00}", totalprice)</span>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="showcart">
    <div>
        @if (allcartitem.Count == 0)
        {
            @:<p>No Items In Cart</p>
        }
        else
        {
            <table class="carttable">
                @{int itemNo = 0;
                    foreach (CartDetail cartDetail in allcartitem)
                    {
                        string priceId = "price-" + itemNo;
                        string qtyId = "quantity-" + itemNo;
                        string buttonminusId = "minus-" + itemNo;
                        string buttonaddId = "add-" + itemNo;
                        string cartNoId = "cartno-" + itemNo;

                        <tr class="cart-row">
                            <td class="itemcell">@Html.Raw(DisplayAid.DisplayProduct(cartDetail.Product))</td>
                            <td class="datacell">
                                <div>Price : $<span id="@priceId" name="Price" unitprice=@cartDetail.Product.Price>@String.Format("{0:0.00}", cartDetail.Product.Price * cartDetail.Quantity)</span></div>
                                <br />
                                <div>
                                    <input type="button" id="@buttonminusId" onclick="UpdateItem(this)" value="-" />
                                    <input type="text" name="Quantity" id="@qtyId" onchange="UpdateItem(this)" class="qtybox" value=@cartDetail.Quantity />
                                    <input type="button" id="@buttonaddId" onclick="UpdateItem(this)" value="+" />
                                    <input type="hidden" name="CartInfo" id="@cartNoId" value="@cartDetail.Id" />
                                </div>
                            </td>
                        </tr>
                        itemNo++;
                    }
                }
            </table>
        }
    </div>
</div>
