@using ShoppingCartCA.Views.Shared;
@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "ProdDetail";
    Product product = (Product)ViewData["productdisplay"];
    List<Product> similarProduct = (List<Product>)ViewData["similarproduct"];

    Review cusReview = (Review)ViewData["review"];
    bool canReview = (bool)ViewData["canreview"];
    List<Review> allReview = (List<Review>)ViewData["allreview"];
}
@section StyleScript{
    <link rel="stylesheet" href="~/css/cartpage.css" />
    <link rel="stylesheet" href="~/css/productviewpage.css" />
    <script type="text/javascript" src="~/js/cartpage.js"></script>
    <script type="text/javascript" src="~/js/prodviewpage.js"></script>
    @if(canReview){
        <script type="text/javascript" src="~/js/reviewpage.js"></script>
     }
}

<div>
    <h2>@product.Name</h2>
</div>
<br />

<div class="viewpd-holder">
    <table class="viewpd-tlb">
        <tr class="viewpd-row">
            <td class="viewpd-cell-img"><img class="viewpd-img" src="@product.Img" /></td>
            <td class="viewpd-cell-data">
                <div>Price : $<span id="price" name="price">@String.Format("{0:0.00}", product.Price)</span></div>
                <br />
                <div>
                    <input type="button" id="buttonminus" onclick="ChangeItem('Quantity',false)" value="-" />
                    <input type="text" class="viewpd-qty" id="Quantity" onblur="ValidateItem(this)" value=1 />
                    <input type="button" id="buttonplus" onclick="ChangeItem('Quantity',true)" value="+" />
                    <br />
                    <br />
                    <button class="viewpd-btn" onclick="ValidateAdd()"><i class='fa fa-shopping-cart'></i> Add to Cart</button>
                    <input type="hidden" name="ProdId" id="ProdId" value="@product.Id" />
                </div>
            </td>
        </tr>
        <tr col-span="2">
            <td>
                <div class="viewpd-div-title">Description</div>
                <div class="viewpd-div-des">@product.Desc</div>
            </td>
        </tr>
    </table>
</div>
<hr />

@*---------------Section to handle similar products--------------*@
<div class="viewpd-holder">
    <div class="viewpd-div-title">Similar Products</div>
    @{
        if (similarProduct == null || similarProduct.Count == 0)
        {
            @:<div class="viewpd-div-des">None</div>
        }
        else
        {
            <table>
                <tr>
                    @foreach (Product sp in similarProduct)
                    {
                        <td>@Html.Raw(DisplayAid.DisplaySmall(sp))</td>
                    }
                </tr>
            </table>
        }
    }

</div>

@*---------------Section to handle review of products--------------*@
@{
    if (canReview)
    {
        <hr />
        <div class="viewpd-holder">

            @if (cusReview == null)
            {
                <div class="viewpd-div-title" id="review-prompt">How was @product.Name?</div>
                
                    <div class="viewpd-rate">
                        <span class="viewpd-rate-title">Rating: </span>
                        @Html.Raw(DisplayAid.GenerateStar(0))
                        <span id="notrated"> (Not Rated)</span>
                    </div>
                    <div>
                        <textarea class="viewpd-rw-body" id="review-body" placeholder="Give us your feedback" style="display:none" readonly></textarea>
                        <textarea class="viewpd-rw-body" id="review-body-temp" placeholder="Give us your feedback" style="display:block"></textarea>
                    </div>
                    <div class="viewpd-ratebtn-holder">
                        <button id="review-editpost" onclick="PostReview()">Post</button>
                        <button id="review-cancel" onclick="CancelEdit()" style="display:inline-block">Cancel</button>
                    </div>
                
                <input type="hidden" value=0 name="commentId" id="commentId" editstate="1" starrating="-1" />
            }
            else
            {
                <div class="viewpd-div-title" id="review-prompt">Your Review</div>
                
                    <div class="viewpd-rate">
                        <span class="viewpd-rate-title">Rating: </span>
                        @Html.Raw(DisplayAid.GenerateStar(cusReview.Rating))
                        @if (cusReview.Rating < 1)
                        {
                            <span id="notrated"> (Not Rated)</span>
                        }
                    </div>
                    <div>
                        <textarea class="viewpd-rw-body" id="review-body" placeholder="Give us your feedback" style="display:block" readonly>@cusReview.Comment</textarea>
                        <textarea class="viewpd-rw-body" id="review-body-temp" placeholder="Give us your feedback" style="display:none"></textarea>
                    </div>
                    <div class="viewpd-ratebtn-holder">
                        <button id="review-editpost" onclick="EditReview()">Edit</button>
                        <button id="review-cancel" onclick="CancelEdit()" style="display:none">Cancel</button>
                    </div>
                
                <input type="hidden" value="@cusReview.Id" name="commentId" id="commentId" editstate="0" starrating="@(cusReview.Rating-1)" />
            }

        </div>
    }
}

@*---------------Section to handle all the reviews--------------*@
<hr/>
<div class="viewpd-holder">
    <div class="viewpd-div-title">Reviews</div>
    <div class="viewpd-cmt-no">
        @if (allReview.Count == 0)
        {
            @:No one else has reviewed
        }
        else
        {
            double avgRating = allReview.Average(x => x.Rating);
            @:@allReview.Count reviews. <span>(@String.Format("{0:0.0}",avgRating)</span> out of <span>5.0 <span class="fa fa-star checked"></span>)</span>
        }
    </div>
    @if (allReview.Count > 0)
    {
        foreach (Review rw in allReview)
        {
            DateTime reviewdate = new DateTime(1970, 1, 1, 0, 0, 0, 0, DateTimeKind.Utc).AddSeconds(rw.Timestamp).ToLocalTime();
            <div class="viewpd-cmt-holder">
                <div class="viewpd-cmt-head">
                    <div>
                        @if (rw.Rating < 1)
                        {
                            <span id="notrated"> (Not Rated)</span>
                            @Html.Raw(DisplayAid.GenerateStar(0, false))
                        }
                        else
                        {
                            @Html.Raw(DisplayAid.GenerateStar(rw.Rating, false))
                        }
                    </div>
                    <div class="viewpd-cmt-user">By: @rw.Customer.CustomerDetails.FirstName &nbsp &nbsp &nbsp (on @reviewdate.ToString("dd-mm-yyyy"))</div>
                </div>
                <div class="viewpd-cmt-body">
                    @rw.Comment
                </div>
            </div>
        }
    }
</div>
