@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "ProdDetail";
    Product product = (Product)ViewData["productdisplay"];

}
@section StyleScript{
    <link rel="stylesheet" href="~/css/cartpage.css" />
    <script type="text/javascript" src="~/js/cartpage.js"></script>
}
<style>
    .viewprd-disp{
    }
    .viewprd-cellimg {
        padding:15px;
        text-align:center;
    }
    .viewprd-img{
        width:300px;
    }
    .viewprd-celldata{
        padding-left:30px;
    }
    #Quantity {
        width: 40px;
        text-align: center;
    }
    .to-submit {
        background-color: #E74A19;
        color:white;
        padding:5px 15px 5px 15px;
        border:none;
        border-radius:5px;
    }
    .viewprd-disp-destitle{
        font-size:20px;
        padding:10px 10px 10px 10px;
        font-weight:bold;
    }
    .viewprd-disp-des{
        font-size:14px;
        padding-left:10px;
        height:6em;
    }
</style>
<script type="text/javascript">
    window.onload = function () {

    };
    function ValidateItem(ele) {
        let qty = parseInt(ele.value);
        if (isNaN(qty) || qty <= 0) {
            ele.value = ele.defaultValue;
            return false;
        } else {
            ele.defaultValue = ele.value;
            return true;
        }
    }
    function ChangeItem(strId,isAdd) {
        let ele = document.getElementById(strId);
        if (ele == null) {
            return;
        }
        let qty = parseInt(ele.value);
        if (isAdd) {
            qty += 1;
            ele.value = qty;
            ele.defaultValue = ele.value;
        } else {
            qty -= 1;
            if (qty > 0) {
                ele.value = qty
                ele.defaultValue = ele.value;
            }  
        }
    }
    function ValidateAdd() {
        var eleqty = document.getElementById("Quantity");
        var prdId = document.getElementById("ProdId").value;
        if (ValidateItem(eleqty)) {
            AddToCart(prdId, eleqty.value);
        } 
    }
</script>

<div class="viewprd-head">
    <h2>@product.Name</h2>
</div>
<br />

<div class="viewprd-disp">
    <table>
        <tr>
            <td class="viewprd-cellimg"><img class="viewprd-img" src="@product.Img" /></td>
            <td class="viewprd-celldata">
                <div>Price : $<span id="price" name="price">@String.Format("{0:0.00}", product.Price)</span></div>
                <br />
                <div>
                    <input type="button" id="buttonminus" onclick="ChangeItem('Quantity',false)" value="-" />
                    <input type="text" name="Quantity" id="Quantity" onchange="ValidateItem(this)" value=1 />
                    <input type="button" id="buttonplus" onclick="ChangeItem('Quantity',true)" value="+" />
                    <br />
                    <br />
                    <button class="to-submit" onclick="ValidateAdd()"><i class='fa fa-shopping-cart'></i> Add to Cart</button>
                    <input type="hidden" name="ProdId" id="ProdId" value="@product.Id" />
                </div>
            </td>
        </tr>
        <tr col-span="2">
            <td>
                <div class="viewprd-disp-destitle">Description</div>
                <div class="viewprd-disp-des">@product.Desc</div>
            </td>
        </tr>
    </table>
</div>
<hr/>
<div class="viewprd-similar">

</div>

<div class="viewprd-review">

</div>