@using ShoppingCartCA.Views.Shared;
@{
    Layout = "_ShopLayout";
    ViewData["Title"] = "ProdDetail";
    Product product = (Product)ViewData["productdisplay"];
    List<Product> similarProduct = (List<Product>)ViewData["similarproduct"];

    Review cusReview = (Review)ViewData["review"];
    bool canReview = (bool)ViewData["canreview"];

}
@section StyleScript{
    <link rel="stylesheet" href="~/css/cartpage.css" />
    <script type="text/javascript" src="~/js/cartpage.js"></script>
}
<style>
    .viewprd-main {
    }

    .viewprd-cellimg {
        padding: 15px;
        text-align: center;
    }

    .viewprd-img {
        width: 300px;
    }

    .viewprd-celldata {
        padding-left: 30px;
    }

    #Quantity {
        width: 40px;
        text-align: center;
    }

    .viewprd-add {
        background-color: #E74A19;
        color: white;
        padding: 5px 15px 5px 15px;
        border: hidden;
        border-radius: 5px;
    }

        .viewprd-add:hover {
            background-color: #E95E33;
            color: blue;
            text-decoration: none;
            font-weight: normal;
        }


    .viewprd-disp-des {
        font-size: 14px;
        padding-left: 10px;
        height: 6em;
    }

    /*Similar products-----------
        --------------------------*/
    .viewprd-cat-title {
        font-size: 20px;
        font-weight: bold;
        padding: 6px 6px 6px 6px;
    }
    .viewprd-review{
        width:95%;
    }
    #review-body {
        width: 50%;
        min-width: 400px;
        height: 80px;
        resize:none;
    }



    .checked{
        color: yellow;
    }
    .viewprd-rating{
        padding-top:6px;
        padding-bottom:6px;
    }




</style>
<script type="text/javascript">
    window.onload = function () {

    };
    function ValidateItem(ele) {
        let qty = parseInt(ele.value);
        if (isNaN(qty) || qty <= 0) {
            ele.value = ele.defaultValue;
            return false;
        } else {
            ele.defaultValue = ele.value;
            return true;
        }
    }
    function ChangeItem(strId, isAdd) {
        let ele = document.getElementById(strId);
        if (ele == null) {
            return;
        }
        let qty = parseInt(ele.value);
        if (isAdd) {
            qty += 1;
            ele.value = qty;
            ele.defaultValue = ele.value;
        } else {
            qty -= 1;
            if (qty > 0) {
                ele.value = qty
                ele.defaultValue = ele.value;
            }
        }
    }
    function ValidateAdd() {
        var eleqty = document.getElementById("Quantity");
        var prdId = document.getElementById("ProdId").value;
        if (ValidateItem(eleqty)) {
            AddToCart(prdId, eleqty.value);
        }
    }
</script>

<div class="viewprd-head">
    <h2>@product.Name</h2>
</div>
<br />

<div class="viewprd-main">
    <table>
        <tr>
            <td class="viewprd-cellimg"><img class="viewprd-img" src="@product.Img" /></td>
            <td class="viewprd-celldata">
                <div>Price : $<span id="price" name="price">@String.Format("{0:0.00}", product.Price)</span></div>
                <br />
                <div>
                    <input type="button" id="buttonminus" onclick="ChangeItem('Quantity',false)" value="-" />
                    <input type="text" name="Quantity" id="Quantity" onchange="ValidateItem(this)" value=1 />
                    <input type="button" id="buttonplus" onclick="ChangeItem('Quantity',true)" value="+" />
                    <br />
                    <br />
                    <button class="viewprd-add" onclick="ValidateAdd()"><i class='fa fa-shopping-cart'></i> Add to Cart</button>
                    <input type="hidden" name="ProdId" id="ProdId" value="@product.Id" />
                </div>
            </td>
        </tr>
        <tr col-span="2">
            <td>
                <div class="viewprd-cat-title">Description</div>
                <div class="viewprd-disp-des">@product.Desc</div>
            </td>
        </tr>
    </table>
</div>
<hr />
<div class="viewprd-similar">
    <div class="viewprd-cat-title">Similar Products</div>
    @{
        if (similarProduct == null || similarProduct.Count == 0)
        {
            @:<div class="viewprd-similar-dys">None</div>
        }
        else
        {
            <table>
                <tr>
                    @foreach (Product sp in similarProduct)
                    {
                        <td>@Html.Raw(DisplayAid.DisplaySmall(sp))</td>
                    }
                </tr>
            </table>
        }
    }

</div>
<hr />
@{
    if (canReview)
    {
    <div class="viewprd-review">

        @if (cusReview == null)
        {
            <div class="viewprd-cat-title">How was @product.Name?</div>
            <div class="viewprd-rating">
                <span class="viewprd-rating-title">Rating: </span>
                @Html.Raw(DisplayAid.GenerateStar(0))
                <span id="notrated"> (Not Rated)</span>
            </div>
            <div class="viewprd-cat-body">
                <textarea id="review-body" placeholder="Give us your feedback"></textarea>
            </div>
            <input type="button" id="review-editpost" value="Post" onclick="PostReview()" />
            <input type="button" id="review-cancel" value="Cancel" onclick="CancelEdit()" style="display:none" />
        }
        else
        {
            <div class="viewprd-cat-title">Your review</div>
            <div class="viewprd-rating">
                <span class="viewprd-rating-title">Rating: </span>
                @Html.Raw(DisplayAid.GenerateStar(cusReview.Rating))
                @if (cusReview.Rating < 1)
                {
                    <span id="notrated"> (Not Rated)</span>
                }
            </div>
            <div class="viewprd-review-body">
                <textarea id="review-body" placeholder="Give us your feedback" readonly>@cusReview.Comment</textarea>
            </div>
            <input type="button" id="review-editpost" value="Edit" onclick="EditReview()" />
            <input type="button" id="review-cancel" value="Cancel" onclick="CancelEdit()" style="display:none" />
        }
        <div class="viewprd-review-head"></div>
    </div>
    }
}
<div class="viewprd-rating">

</div>
